body {
  background:#ffacbd;
  color: #ff6e95;
  margin: 0px;
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 100px;
}


header {
  border-bottom: solid 2px #ffacbd;
  padding: 20px;
  font-size: 45px;
  color: rgb(255, 255, 255);
}


.chamada {
  background: rgb(255, 255, 255);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}


.chamada-texto {
  margin-right: 5%;
}


h1 {
  font-size: 40px;
}


p {
  font-size: 20px;
}


img {
  height: 140px;
}


.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}


.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
}

  categoria-videos img {
    opacity: 0.5;
    height: 200px;
  }

  .categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(161, 0, 113);
}

.categoria h2 {
  color: #ff5f89;
}
   